#education {
  // Digital skills subsection

  .digital-skills {
    margin-top: 2.5em;
    margin-bottom: 0;

    p {
      color: $color-blue;
      opacity: 0.9;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .icon {
    font-size: 1.5rem; /* Adjust icon size */

    i {
      color: $color-red;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .icon-microsoft {
    .img-microsoft {
      width: 3rem;
      height: auto;
      // margin-bottom: 1rem;
      margin-top: 0;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    p {
      margin-top: 15px;
      // font-size: 1.5rem;
    }

    .aspnet-paragraph {
      margin-top: 21px;
    }
  }

  .icon p {
    margin-top: 20px;
  }

  // languages subsection
  table {
    width: 100%;

    tr:first-child {
      border-bottom: 2px solid white;
    }

    tr:hover {
      background-color: white;
    }

    th,
    td {
      height: 60px;
      width: 33.3%;
      text-align: center;
      vertical-align: middle;
    }
    img {
      max-width: 50px;
      margin: 0 auto;
    }
  }

  // Formal education subsection

  h3 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.3rem;

    & + p {
      font-size: smaller;
      font-weight: bold;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    // bullet point graduation icon
    h3::before {
      content: "\f19d";
      font-family: "Font Awesome 5 Free";
      padding-right: 10px;
      color: $color-red;
    }

    p {
      padding-left: 36px;
    }
  }
}
