#about-me {
  .flex-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: 50%;
      max-width: 250px;

      width: 100%;
      height: auto;
    }

    .inner-about-me {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
  }
}
