@font-face {
  font-family: "Source Sans Pro";
  src: url("https://rilmxp.github.io/Portfolio/Fonts/SourceSansPro-Regular.otf.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("https://rilmxp.github.io/Portfolio/Fonts/SourceSansPro-Bold.otf.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("https://rilmxp.github.io/Portfolio/Fonts/SourceSansPro-Black.otf.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  background-color: white;
  line-height: normal;
}

article {
  background-color: black;
}

section {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1.2em;
}

$color-green: #00ff2a;
$color-yellow: #fef200;
$color-blue: #001233;

.section-heading {
  width: max-content;
  margin: 0 auto 1em auto;

  font-weight: 900;
  color: $color-yellow;
  font-size: 2em;
  position: relative;

  /* space navbar/heading when scrolled from navbar menu */
  padding-top: 70px;

  /* Sections' headings' underline hover effects */
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    background-color: $color-green;
    width: 100%;
    border-radius: 15px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 600ms ease;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.subheading {
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  font-weight: 900;
  color: $color-yellow;
  width: max-content;
  border-bottom: 2px solid red;
  font-size: 1.5em;
}
