#education {
  /* Digital skills subsection */
  .digital-skills li {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .progress,
  .progress-bar {
    border-radius: 0px 15px 15px 0px;
  }

  .progress {
    height: 1.5em;
  }

  .progress-bar {
    background: linear-gradient(to right, $color-yellow, $color-green);
    opacity: 0.8;
  }

  /* languages subsection */
  table {
    width: 100%;

    tr:first-child {
      border-bottom: 1px solid white;
    }

    tr:hover {
      background-color: $color-blue;
    }

    th,
    td {
      height: 60px;
      width: 33.3%;
      text-align: center;
      vertical-align: middle;
    }
  }

  img {
    max-width: 50px;
    margin: 0 auto;
  }

  /* Formal education subsection */

  h3 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.3rem;

    & + p {
      font-size: smaller;
      font-weight: bold;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    /* bullet point graduation icon */
    h3::before {
      content: "\f19d";
      font-family: "Font Awesome 5 Free";
      padding-right: 10px;
      color: $color-green;
    }

    p {
      padding-left: 36px;
    }
  }
}
