nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid $color-green;
  height: 3.5em;

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10px;
    font-weight: bold;

    .logo {
      font-size: 1.7em;
      color: $color-green;
    }

    .btn-toggle:hover {
      color: $color-green;
    }

    .logo-toggle {
      display: flex;
      justify-content: space-between;
    }

    .page-links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .show-hide {
      display: none;
    }

    li {
      font-size: 1.5em;

      a {
        &:link,
        &:visited {
          text-decoration: none;
          color: white;
        }

        &:hover {
          color: $color-green;
        }
      }
    }
  }
}
