@import "config";

/*To be removed, white space generator */
.white-space {
  // margin-top: 100px;
  height: 100px;
  border: 3px dotted blue;
}

@import "navbar";
@import "about";
@import "custom";
@import "work";
@import "footer";

// EDUCATION

#education {
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  label {
    display: block;
  }

  progress {
    // Reset default appearance
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 50px;
  }

  // container rules
  progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25) inset;
  }

  progress::-webkit-progress-value {
    border-radius: 25px;
  }
}

@media only screen and (min-width: 670px) {
  nav {
    ul {
      flex-direction: row;
      justify-content: space-between;

      .page-links {
        flex-direction: row;
      }

      .btn-toggle {
        display: none;
      }

      li {
        margin-right: 13px;
      }
    }
  }

  #about-me {
    .flex-about-me {
      flex-direction: row;

      h2 {
        align-self: flex-start;
      }
    }
  }
}
