@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 1.5em;
  color: white;
  background-color: black;
  font-weight: bold;
}

/*To be removed, white space generator */
.white-space {
  height: 500px;
}

.main-menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 5px 5px;
  border-bottom: 3px solid #fef200;

  .logo {
    color: $color-main;
    text-decoration: none;
    margin-left: 5px;
  }

  ul li {
    display: inline;
    margin-right: 25px;

    &:last-of-type {
      margin-right: 5px;
    }

    a {
      &:link,
      &:visited {
        text-decoration: none;
        color: white;
      }

      &:hover {
        color: $color-main;
      }
    }
  }
}
