/*min width 320px.
576px for portrait phones.
768px for tablets.
992px for laptops.
1200px for large devices. */
@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Regular.otf.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Bold.otf.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Black.otf.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  background-color: white;
  line-height: normal;
}

article {
  padding-top: 70px;
  background-color: black;
}

section {
  margin-bottom: 10px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1.2em;
}

.section-heading {
  width: max-content;
  margin: 0 auto 1em auto;
  font-weight: 900;
  color: #fef200;
  font-size: 2em;
  position: relative;
  padding-bottom: 5px;
}

.section-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #00ff2a;
  width: 100%;
  transform: scaleX(0);
  transition: transform 300ms ease;
}

.section-heading:hover {
  color: #fef200;
}

.section-heading:hover::after {
  transform: scaleX(1);
}

.subheading {
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  font-weight: 900;
  color: #fef200;
  width: max-content;
  border-bottom: 2px solid red;
  font-size: 1.5em;
}

/*To be removed, white space generator */
.white-space {
  height: 100px;
  border: 3px dotted blue;
}

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 3.5em;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #00ff2a;
  margin-bottom: 0px;
}

nav ul .logo {
  font-size: 1.7em;
  color: #00ff2a;
}

nav ul .btn-toggle:hover {
  color: #00ff2a;
}

nav ul .logo-toggle {
  display: flex;
  justify-content: space-between;
}

nav ul .page-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul .show-hide {
  display: none;
}

nav ul li {
  font-size: 1.5em;
}

nav ul li a:link, nav ul li a:visited {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #00ff2a;
}

#about-me .flex-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me .flex-about-me img {
  border-radius: 50%;
  filter: grayscale(90%);
  border: 2px solid;
}

#about-me .flex-about-me .inner-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}

#work .carousel-item {
  max-height: 75vh;
}

#work img {
  min-height: 296px;
  opacity: 0.5;
}

#work ul {
  list-style-type: none;
  font-size: smaller;
  padding-left: 0;
}

#work .alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 75%;
}

@media (max-width: 319px) {
  #work .alignment {
    display: none;
  }
}

#work h5,
#work h6,
#work p {
  text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

#work h5 {
  font-weight: bold;
  color: #fef200;
}

#work h6 {
  font-size: 19.2px;
  font-weight: bold;
  margin-bottom: -3px;
}

#work p {
  font-size: 16px;
}

#work .job-description {
  margin-top: -1.2em;
}

footer {
  background-color: #001233;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h5 {
  color: #fef200;
  font-weight: bold;
}

footer i {
  font-size: 2em;
  margin: 0 10px;
}

footer a:visited, footer a:link {
  color: white;
}

footer a:hover {
  color: #00ff2a;
}

#education .digital-skills li {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

#education table {
  width: 100%;
}

#education table tr:hover {
  background-color: #001233;
}

#education table th,
#education table td {
  height: 60px;
  width: 33.3%;
  text-align: center;
}

#education table th {
  border-bottom: 1.2px solid white;
  padding-bottom: 5px;
}

#education img {
  max-width: 50px;
  margin: 0 auto;
}

#education h3 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.3rem;
}

#education h3 + p {
  font-size: smaller;
  font-weight: bold;
}

#education ul {
  list-style-type: none;
  padding-left: 0;
}

#education ul h3::before {
  content: "\f19d";
  font-family: "Font Awesome 5 Free";
  padding-right: 10px;
  color: #00ff2a;
}

#education ul p {
  padding-left: 36px;
}

.progress {
  border-radius: 0px 15px 15px 0px;
  height: 1.5em;
}

.progress-bar {
  border-radius: 0px 15px 15px 0px;
  background: linear-gradient(to right, #fef200, #00ff2a);
  opacity: 0.8;
}

@media only screen and (min-width: 670px) {
  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul .page-links {
    flex-direction: row;
  }
  nav ul .btn-toggle {
    display: none;
  }
  nav ul li {
    margin-right: 13px;
  }
  #about-me .flex-about-me {
    flex-direction: row;
  }
  #about-me .flex-about-me h2 {
    align-self: flex-start;
  }
  #education .flex-education-0 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #education .flex-education-0 h4 {
    margin-left: auto;
    margin-right: auto;
  }
  #education .flex-education-0 .flex-education-1 {
    width: 45%;
    text-align: center;
  }
  #education .flex-education-0 .flex-education-1 h4 {
    margin-left: auto;
    margin-right: auto;
  }
  #education .flex-education-0 .flex-education-1 .progress {
    border-radius: 15px 15px 15px 15px;
  }
  #education .flex-education-0 .flex-education-2 {
    width: 45%;
  }
  #education .flex-education-0 .flex-education-2 table {
    margin-top: 75px;
  }
  #education .flex-education-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
