@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Regular.otf.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Bold.otf.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/SourceSansPro-Black.otf.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  background-color: white;
  line-height: normal;
}

article {
  background-color: black;
}

section {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1.2em;
}

.section-heading {
  width: max-content;
  margin: 0 auto 1em auto;
  font-weight: 900;
  color: #fef200;
  font-size: 2em;
  position: relative;
  /* space navbar/heading when scrolled from navbar menu */
  padding-top: 70px;
  /* Sections' headings' underline hover effects */
}

.section-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  background-color: #00ff2a;
  width: 100%;
  border-radius: 15px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 600ms ease;
}

.section-heading:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.subheading {
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  font-weight: 900;
  color: #fef200;
  width: max-content;
  border-bottom: 2px solid red;
  font-size: 1.5em;
}

nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  max-width: 1400px;
  background-color: black;
  height: 3.5em;
}

nav .main-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 1.5px solid #00ff2a;
  margin-bottom: 0px;
}

nav .main-menu ul {
  list-style-type: none;
  padding: 0px;
}

nav .main-menu .logo a {
  color: #00ff2a !important;
  font-size: 1.8em;
}

nav .main-menu .logo-toggle {
  display: flex;
  justify-content: space-between;
}

nav .main-menu button {
  background-color: black;
  color: white;
  border: none;
  font-size: 1.8em;
  padding: 1px 1px;
  transition: transform 1s ease;
}

nav .main-menu button:hover {
  color: #00ff2a;
}

nav .main-menu .btn-rotate {
  transform: rotate(180deg);
}

nav .main-menu .page-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .main-menu .show-hide {
  display: none;
}

nav .main-menu a:link, nav .main-menu a:visited {
  text-decoration: none;
  color: white;
}

nav .main-menu a:hover {
  color: #00ff2a;
}

nav .main-menu .page-links li {
  font-size: 1.5em;
}

#about-me .flex-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me .flex-about-me img {
  border-radius: 50%;
  filter: grayscale(85%);
  border: 2px solid;
}

#about-me .flex-about-me .inner-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}

#work .carousel-item {
  max-height: 75vh;
}

#work img {
  min-height: 296px;
  opacity: 0.5;
}

#work ul {
  list-style-type: none;
  font-size: smaller;
  padding-left: 0;
}

#work .alignment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 75%;
  /* hide slide content under 320px */
}

@media (max-width: 319px) {
  #work .alignment {
    display: none;
  }
}

#work h5,
#work h6,
#work p {
  text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

#work h5 {
  font-weight: bold;
  color: #fef200;
}

#work h6 {
  font-size: 19.2px;
  font-weight: bold;
  margin-bottom: -3px;
}

#work p {
  font-size: 16px;
}

#work .job-description {
  margin-top: -1.2em;
}

footer {
  background-color: #001233;
  padding-bottom: 1em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h5 {
  color: #fef200;
  font-weight: bold;
  padding-top: 15px;
}

footer i {
  font-size: 2em;
  margin: 0 10px;
}

footer a:visited, footer a:link {
  color: white;
}

footer a:hover {
  color: #00ff2a;
}

#education {
  /* Digital skills subsection */
  /* languages subsection */
  /* Formal education subsection */
}

#education .digital-skills li {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

#education .progress,
#education .progress-bar {
  border-radius: 0px 15px 15px 0px;
}

#education .progress {
  height: 1.5em;
}

#education .progress-bar {
  background: linear-gradient(to right, #fef200, #00ff2a);
  opacity: 0.8;
}

#education table {
  width: 100%;
}

#education table tr:first-child {
  border-bottom: 1px solid white;
}

#education table tr:hover {
  background-color: #001233;
}

#education table th,
#education table td {
  height: 60px;
  width: 33.3%;
  text-align: center;
  vertical-align: middle;
}

#education table img {
  max-width: 50px;
  margin: 0 auto;
}

#education h3 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.3rem;
}

#education h3 + p {
  font-size: smaller;
  font-weight: bold;
}

#education ul {
  list-style-type: none;
  padding-left: 0;
  /* bullet point graduation icon */
}

#education ul h3::before {
  content: "\f19d";
  font-family: "Font Awesome 5 Free";
  padding-right: 10px;
  color: #00ff2a;
}

#education ul p {
  padding-left: 36px;
}

#projects ul {
  list-style-type: none;
  padding-left: 0;
}

#projects .group-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects .group-btns li {
  text-align: center;
}

#projects .group-btns li div {
  margin-top: 0.2em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#projects h5 {
  font-weight: bold;
}

#projects button {
  font-weight: bold;
  padding: 0.3em;
  border-radius: 35px;
  width: 75%;
  border: 3px solid #fef200;
  color: white;
  background: black;
  margin-top: 1em;
}

#projects .active,
#projects button:hover {
  background-color: #001233;
  color: #00ff2a;
}

#projects a {
  position: relative;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 35px;
  padding: 5px;
  display: block;
  margin-bottom: 10px;
  width: 42%;
  margin: 10px auto;
  /* view project/go animation */
}

#projects a:link, #projects a:visited {
  text-decoration: none;
  color: white;
}

#projects a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #001233;
  border-radius: 35px;
  content: "GO";
  padding-top: 4px;
  color: #00ff2a;
  transform: scaleX(0);
  transition: transform 400ms ease-in;
}

#projects a:hover::before {
  transform: scaleX(1);
}

@media only screen and (min-width: 670px) {
  nav .main-menu {
    flex-direction: row;
    justify-content: space-between;
  }
  nav .main-menu .page-links {
    flex-direction: row;
  }
  nav .main-menu .btn-toggle {
    display: none;
  }
  nav .main-menu li {
    margin-right: 13px;
  }
  #about-me .flex-about-me {
    flex-direction: row;
  }
  #about-me .flex-about-me h3 {
    align-self: flex-start;
  }
  #work .alignment * {
    font-size: 1.2rem;
  }
  .flex-education {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .flex-education h4 {
    margin-left: auto;
    margin-right: auto;
  }
  .flex-education .flex-education-digital,
  .flex-education .flex-education-languages {
    width: 45%;
  }
  .flex-education .flex-education-digital {
    text-align: center;
  }
  .flex-education .flex-education-digital .progress {
    border-radius: 15px 15px 15px 15px;
  }
  .flex-education .flex-education-languages {
    display: flex;
    flex-direction: column;
  }
  .flex-education .flex-education-languages table {
    margin: auto auto;
  }
  .flex-education-formal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  #projects {
    /* button & <a> center col half the size to match the size of the other 2 columns below it*/
  }
  #projects .flex-center-col button {
    width: 37.5%;
  }
  #projects .flex-center-col a {
    width: 21%;
  }
  #projects .flex-left-right-col {
    display: flex;
  }
  #projects .flex-left-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #projects .flex-right-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
